@import url("vars.css");

/*-=-=-= BACKGROUNDS =-=-=- */
.bg-black {background-color: var(--black);}
.bg-white {background-color: var(--white);}
.bg-gray-9 {background-color: var(--gray-9);}
.bg-gray-8 {background-color: var(--gray-8);}
.bg-gray-7 {background-color: var(--gray-7);}
.bg-gray-6 {background-color: var(--gray-6);}
.bg-gray-5 {background-color: var(--gray-5);}
.bg-gray-4 {background-color: var(--gray-4);}
.bg-gray-3 {background-color: var(--gray-3);}
.bg-gray-2 {background-color: var(--gray-2);}
.bg-gray-1 {background-color: var(--gray-1);}

/*-=-=-= TYPOGRAPHY =-=-=-*/
.display-l { font-size: max(4vw, 4rem); line-height: var(--line-height-heading); font-weight: 500;}
.display-m { font-size: max(3vw, 3rem); line-height: var(--line-height-heading); font-weight: 500;}
.display-s { font-size: max(2.5vw, 2.5rem); line-height: var(--line-height-heading); font-weight: 600;}

.heading-l { font-size: 2.25rem; line-height: var(--line-height-heading); font-weight: 600;}
.heading-m { font-size: 2rem; line-height: var(--line-height-heading); font-weight: 600;}
.heading-s { font-size: 1.75rem; line-height: var(--line-height-heading); font-weight: 600;}
.heading-xs { font-size: 1.5rem; line-height: var(--line-height-heading); font-weight: 500;}
.heading-xxs { font-size: 1.25rem; line-height: var(--line-height-heading); font-weight: 500;}

.body-l { font-size: 1.2rem; line-height: var(--line-height-body); font-weight: 400;}
.body-m { font-size: 1rem; line-height: var(--line-height-body); font-weight: 400;}
.body-s { font-size: 0.9rem; line-height: var(--line-height-body); font-weight: 400;}
.body-xs { font-size: 0.8rem; line-height: var(--line-height-body); font-weight: 400;}




/*-=-=-= LAYOUT =-=-=-*/
.section-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-l);
    padding: var(--gap-xl) var(--gap-page);
}

.content-wrap {
    width: 100%;
    max-width: var(--max-w-xl);
    margin: 0 auto;
}

.gap-xxl { gap:var(--gap-xxl) !important; }
.gap-xl  { gap:var(--gap-xl)  !important; }
.gap-l   { gap:var(--gap-l)   !important; }
.gap-m   { gap:var(--gap-m)   !important; }
.gap-s   { gap:var(--gap-s)   !important; }
.gap-xs  { gap:var(--gap-xs)  !important; }
.gap-xxs { gap:var(--gap-xxs) !important; }



/*   --gap-xxl: 8rem;
  --gap-xl: 4rem;
  --gap-l: 2rem;
  --gap-m: 1rem;
  --gap-s: 0.5rem;
  --gap-xs: 0.25rem;
  --gap-xxs: 0.125rem; */



/* Grid */
.grid-wrap {
    display: grid;
    gap: var(--gap-l);
    width: 100%;
    overflow-wrap: break-word;
}

.grid-1-col { grid-template-columns: var(--grid-1-col); }
.grid-2-col { grid-template-columns: var(--grid-col-1-1); }
.grid-3-col { grid-template-columns: var(--grid-col-1-1-1); }

/* Flex */
.flex-col {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-m);
}

/* flex classes are labeled "f-[align-items]-[justify-content]" */
.f-start-start { align-items: flex-start; justify-content: flex-start; }
.f-start-center { align-items: flex-start; justify-content: center; }
.f-start-between { align-items: flex-start; justify-content: space-between; }
.f-start-end { align-items: flex-start; justify-content: end; }

.f-center-start { align-items: center; justify-content: flex-start; }
.f-center-center { align-items: center; justify-content: center; }
.f-center-between { align-items: center; justify-content: space-between; }
.f-center-center { align-items: center; justify-content: end; }

.f-end-start { align-items: flex-end; justify-content: flex-start; }
.f-end-center { align-items: flex-end; justify-content: center; }
.f-end-between { align-items: flex-end; justify-content: space-between; }
.f-end-center { align-items: flex-end; justify-content: end; }


.list-wrap,
.list-wrap-col,
.list-wrap-row {
    display: flex;
    gap: var(--gap-s);
    padding: 0px;
    list-style: none;
}

.list-wrap,
.list-wrap-col {
    flex-direction: column;
}

.list-wrap-row {
    flex-direction: row;
    gap: var(--gap-m);
}


