/* #=#=# WRAPPERS #=#=# */
/* Section and content wrappers and containers */

@import url('./zen.css');

/*-=-=-= Content Wrappers =-=-=-*/
.section-wrap,
.content-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--m);
  width: 100%;
}


.section-wrap {
    gap: var(--v-gap-section);
    padding: var(--padding-section);
}

.content-wrap {
    max-width: var(--max-w-xl);
    margin: 0 auto;
}

.list-wrap,
.list-wrap-col,
.list-wrap-row {
    display: flex;
    padding: 0px;
    list-style: none;
}

.list-wrap,
.list-wrap-col {
    flex-direction: column;
    gap: var(--s);
}

.list-wrap-row {
    flex-direction: row;
    gap: var(--m);
}

/* Elements */

/* Tooltip */
.tooltip-target {
    position: relative;
    cursor: pointer;
  }
  
  .tooltip {
    max-width: 300px;
    width: 90vw;
    background-color: white;
    color: inherit;
    font-family: inherit;
    font-size: 16px;
    border-radius: 6px;
    padding: var(--padding-s);
    box-shadow: 0px 2px 8px 0px #00000026;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    z-index: -1;
    transition: opacity var(--transition-m) 
                display var(--transition-m)
                z-index var(--transition-m);
  }
  
  .tooltip-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
  
  .tooltip-target:hover .tooltip {
    display:block;
    opacity: 1;
    z-index: 2;
  }