/* ### WRAPPERS ### */

@import url('../variables/units.css');

/* === SECTION WRAPS === */
.section-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--l);
    width: 100%;
    padding: var(--padding-section);
}

/* === CONTENT WRAPS === */
.content-wrap,
.content-wrap-wide,
.content-wrap-thin {
    display: flex;
    flex-direction: column;
    gap: var(--l);
    width: 100%;
    margin: 0 auto;
  }

/* Add max widths for content wraps */
.content-wrap { max-width: 1090px; }
.content-wrap-wide { max-width: 1400px; }
.content-wrap-thin { max-width: 720px; }

/* === LIST WRAPS === */
.list-wrap,
.list-wrap-col,
.list-wrap-row {
    display: flex;
    padding: 0px;
    list-style: none;
    gap: var(--s);
}

.list-wrap,
.list-wrap-col {
    flex-direction: column;
}

.list-wrap-row {
    flex-direction: row;
    gap: var(--m);
}