/* #=#=# Bento box atom #=#=# */
/* Includes styling for a simple bento-box style element */

@import url('../zen.css');

/* Use the .bento classes in conjunction with the .bg-[color] classes to control color styles (view in ./classes/colors.css) */

.bento,
.bento-s {
  display: flex;
  flex-direction: column;
  color: inherit;
  background-color: var(--white);
}

.bento {
  gap: var(--m);
  padding: var(--m);
  border-radius: var(--s);
}

.bento-s {
  gap: var(--s);
  padding: var(--s);
  border-radius: var(--xs);
}