/* ### TYPOGRAPHY VARIABLES ### */

:root {
  /* Font families */
--fontfamily-serif: serif;
--fontfamily-sans: sans-serif;
--fontfamily-mono: monospace;

/* Line spacing */
--lineheight-heading: 1.1;
--lineheight-body: 1.5;

/* Font weights */
--fontweight-bl: 800; /* Black */
--fontweight-b:  700; /* Bold */
--fontweight-sb: 600; /* Semi Bold */
--fontweight-m:  500; /* Medium */
--fontweight-r:  400; /* Regular */
--fontweight-l:  300; /* Light */
}