/* #=#=# VARIABLES #=#=# */
/* Variable definitions used throughout styling */

/* TODO
 * make is to property names are without the "-" between spaces ... ei --max-w becomes --maxw-m and --grid-col-l becomes --gridcol-l
 shishkebab case slows down typing, so it should be limited only when neccessary.
*/
:root {
  /* GAPS & SPACING ================================= */

  /* Primitive sizing */
  --xxl: max(8rem, 10vw);
  --xl:  max(4rem, 5vw);
  --l:   max(2rem, 2.5vw);
  --m:   max(1rem, 1.25vw);
  --s:   max(0.5rem, 0.75vw);
  --xs:  max(0.25rem, 0.375vw);
  --xxs: max(0.125rem, 0.1425vw);


  /* Used for spacing properties like gap, margin, padding, etc. */
  --gap-xxl: var(--xxl);
  --gap-xl:  var(--xl);
  --gap-l:   var(--l);
  --gap-m:   var(--m);
  --gap-s:   var(--s);
  --gap-xs:  var(--xs);
  --gap-xxs: var(--xxs);
  --gap-0: 0px;

  /* Customize these ? */
  --gap-page: 5vw;
  --v-gap-section: clamp(var(--gap-m), 5vh, var(--gap-xl));
  --h-gap-section: max(var(--gap-s), 5vw);
  
  /* Padding for elemment types */
  --padding-section: var(--v-gap-section) var(--h-gap-section);
  --padding-inline: var(--xs) var(--s);

/* BORDERS ================================= */
  --br-xxl: 999px;
  --br-xl:  var(--gap-xl);
  --br-l:   var(--gap-l);
  --br-m:   var(--gap-m);
  --br-s:   var(--gap-s);
  --br-xs:  var(--gap-xs);
  --br-xxs: var(--gap-xxs);

  --border-l: 4px solid currentcolor;
  --border-m: 2px solid currentcolor;
  --border-s: 1px solid currentcolor;

/* WIDTHS ==================================== */
  --maxwidth-xxl: 96rem;
  --maxwidth-xl:  72rem;
  --maxwidth-l:   45rem;
  --maxwidth-m:   36rem;
  --maxwidth-s:   27rem;
  --maxwidth-xs:  18rem;
  --maxwidth-xxs: 9rem;

  --maxwidth-page: 72rem;

/* MOTOIN ================================ */
  --transition-l: all 0.4s;
  --transition-m: all 0.2s;
  --transition-s: all 0.1s;
  
/* Z Index ================================= */
  --z-max: 999999px;
  --z-5: 5;
  --z-4: 4;
  --z-3: 3;
  --z-2: 2;
  --z-1: 1;
  --z-0: 0;

/* MISC =================================== */
  
}

